/notes.txt
/temp.py
/debug.log
*/debug.log
/stats.json
/stats.json.backup
/global_prefs_override.xml
/global_prefs_override_backup.xml
/.idea/
/venv/
/.git-blame-ignore-revs
scratch.py
/user_config.py
/tests/__pycache__
/__pycache__
/bin
/lib
/lib64
pyvenv.cfg